<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Email:</ion-label>
  <ion-input color="primary" type="text" placeholder="Introduce aqui tu email" [(ngModel)]="userEmail"></ion-input>
  <ion-label>Contraseńa:</ion-label>
  <ion-input color="primary" type="password" placeholder="Introduce aqui tu contraseńa" [(ngModel)]="userPassword"></ion-input>
  <ion-button (click)="tryLogin()">Login</ion-button>
</ion-content>
